/* бегущие строки */
@keyframes line-right {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes line-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}

/* анимация свечения бекграунд надписи  */

@keyframes stroke-pulse {
  0% {
    -webkit-text-stroke-color: #B50D0D;
    animation-timing-function: ease-out;
  }
  20% {
    -webkit-text-stroke-color: #fd0404c5;
    animation-timing-function: ease-in;
  }
  40% {
    -webkit-text-stroke-color: #a80909c9;
    animation-timing-function: ease-in-out;
  }
  60% {
    -webkit-text-stroke-color: #b11616e7;
    animation-timing-function: ease-in;
  }
  80% {
    -webkit-text-stroke-color: #b11616c7;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-text-stroke-color: #B50D0D;
  }
}

/* пропадающие сердца */

@keyframes hearts {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    margin-top: -150px;
  }
}

/* Анимации для пар */
@keyframes star {
  0%, 100% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-8px) rotate(3deg);
  }
}
@keyframes rightPair {
  0%, 100% {
    transform: translate(-50%, -50%) translateY(0) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(5deg) scale(1.1);
  }
}
@keyframes leftPair {
  0%, 100% {
    transform: translate(-50%, -50%) translateY(0) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-5deg)scale(1.05);
  }
}

/* Смена абстрактных фигур */

@keyframes cycle {
  0%, 17% { 
    opacity: 1;
    visibility: visible;
  }
  17%, 100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Поцелуи */

@keyframes kiss {
  0% {
    opacity: 0;
    scale: 0.8;
    transform: translateY(0);
  }
  10% {
    opacity: 1;
    scale: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    scale: 1.2;
    transform: translateY(-80px);
  }
}

/* Падающие сердца */

@keyframes fallDown {
  0% {
    transform: translateY(-70px) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(430px) rotate(360deg);
    opacity: 0;
  }
}

/* футер титры */

@keyframes dev-scroll {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateY(100%);
      opacity: 0;
    }

}
